.hero {
  position: relative;
  h1 {
    font-size: 3rem;
    color: red;
    font-family: sans-serif
  }
  h2 {
    font-size: 2rem;
    color: blue;
    font-family: sans-serif
  }
  p {
    font-size: 1rem;
    color: black;
    font-family: sans-serif
  }
}
.main-menu {
  background-color: rgba(230, 230, 230, 1);
  padding: 1rem;

  ul {
    display: flex;
    gap: 30px;
    list-style: none;
  }
}
.menu-item {
  color: black;
  cursor: pointer;
}
.menu-item.active {
  color: blue;
  font-weight: bold;
}
